@media screen and (min-width: 320px) {
  .herov2 {
    margin: 0 auto;
    background-color: #6ecb98;
    display: flex;
    color: #ffffff;
  }
  .marketing-container {
    padding: 20px 30px;
    max-width: 100%;
    letter-spacing: 0.5px;
  }
  .hero-text-wrapperv2 {
    padding: 0px;
    float: left;
  }
  .hero-imgv2 {
    float: right;
  }

  .hero-headerv2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 15px;
    width: 110%;
  }
  .hero-body-txtv2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    padding-bottom: 15px;
    width: 90%;
  }
  .hero-imgv2 img {
    position: relative;
    top: 10%;
    max-width: 120%;
    height: 185px;
    margin-left: -25px;
    float: right;
  }
  .illustration-imagev2 {
    padding-right: 30px;
    margin: auto;
  }
  .illustration-imagev2 img {
    height: 130px;
    width: 110px;
  }

  .illustration-headerv2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #e86767;
  }
  .illustration-bodyv2 {
    padding-top: 10px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-align: justify;
  }

  .illustration-footer {
    padding-top: 10px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
  }
  .illustration-contentv2 {
    display: flex;
    padding-bottom: 30px;
  }
  .video-container {
    color: #fff;
    background-color: #67b2e8;
    padding: 20px 30px;
    margin: 0 auto;
    text-align: center;
  }
  .video-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 15px;
  }
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none;
  }

  .highlightsv2-container {
    color: #000000;
    background-color: #ffffff;
    display: block;
    text-align: center;
    padding: 20px 30px;
  }
  .highlights_text {
    text-align: left;
    width: 85%;
    color: #ffffff;
    font-weight: 400;
    position: relative;
    line-height: 18px;
    font-size: 12px;
    padding: 0px 15px;
    height: 50px;
  }
  .highlights_img {
    width: 15%;
    margin: auto;
    display: grid;
    height: 50px;
  }
  .highlights_img img {
    margin: auto;
    height: 40px;
  }
  .highlights_content {
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .bullet {
    width: 24px;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .marketing-container {
    padding: 40px 60px;
    letter-spacing: 0.7px;
  }

  .hero-text-wrapperv2 {
    width: 50%;
  }
  .hero-imgv2 {
    width: 50%;
  }
  .hero-headerv2 {
    font-size: 32px;
    line-height: 36px;
    padding-bottom: 15px;
  }
  .hero-body-txtv2 {
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 15px;
    width: 100%;
  }
  .hero-imgv2 img {
    top: 0px;
    max-width: 100%;
    margin-left: 0px;
    height: 250px;
  }

  .hero-cta {
    padding: 20px 33px;
    font-size: 25px;
    line-height: 30px;
  }
  .highlights-container {
    font-size: 18px;
    line-height: 37px;
    display: flex;
    padding: 40px;
  }
  .illustration-imagev2 {
    padding-right: 80px;
    margin: auto;
  }
  .illustration-imagev2 img {
    height: 170px;
    width: 140px;
  }
  .illustration-contentv2 {
    padding-bottom: 40px;
  }
  .illustration-headerv2 {
    font-size: 20px;
    line-height: 26px;
  }
  .illustration-bodyv2 {
    padding-top: 15px;
    font-size: 16px;
    line-height: 20px;
  }

  .illustration-footer {
    padding-top: 15px;
    font-size: 16px;
    line-height: 20px;
  }
  .highlightsv2-container {
    padding: 40px 100px;
  }
  .highlights_text {
    line-height: 22px;
    font-size: 16px;
    padding: 0px 25px;
    height: 80px;
  }
  .highlights_img {
    height: 80px;
  }
  .highlights_img img {
    height: 60px;
  }
  .highlights_content {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 992px) {
  .marketing-container {
    padding: 70px 150px;
    letter-spacing: 1px;
  }

  .hero-headerv2 {
    font-size: 45px;
    line-height: 60px;
    padding-bottom: 25px;
    width: 100%;
  }
  .hero-body-txtv2 {
    font-size: 20px;
    line-height: 40px;
    padding-bottom: 17px;
  }
  .cta {
    text-align: inherit;
  }
  .hero-cta {
    padding: 26px 45px;
    font-size: 30px;
    line-height: 34px;
  }
  .hero-imgv2 {
    padding: 30px 0 0;
  }
  .hero-imgv2 img {
    top: 0px;
    max-width: 100%;
    margin-left: 0px;
    height: 308px;
  }
  .video-container {
    padding: 50px 150px 0px 150px;
  }
  .video-heading {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    padding-bottom: 30px;
  }
  .video-wrapper iframe {
    width: 80%;
    height: 80%;
    transform: translate(12%);
  }
  .highlight-item-text {
    margin-left: 25px;
  }

  .illustrations-wrapperv2 {
    display: flex;
    margin: 0 auto;
  }
  .illustrationsv2 {
    display: flex;
  }
  .illustration-contentv2 {
    display: block;
    width: 30%;
    padding-right: 10%;
    padding-bottom: 0px;
    text-align: left;
  }
  .no-right-pad {
    padding-right: 0px;
  }
  .illustration-contentv2:last-child {
    padding-right: 0;
  }
  .illustration-imagev2 {
    padding: 0px;
    margin: 0px;
    height: 230px;
    text-align: center;
  }
  .illustration-imagev2 img {
    height: auto;
    width: auto;
  }
  .illustration-footer {
    padding-top: 30px;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
  }

  .illustration-textv2 {
    padding-top: 62px;
  }
  .illustration-headerv2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
  }
  .illustration-bodyv2 {
    padding-top: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .highlightsv2-container {
    padding: 70px 240px 40px;
  }
  .highlights_text {
    line-height: 26px;
    font-size: 22px;
    padding: 0px 35px;
    height: 100px;
  }
  .highlights_img {
    height: 100px;
  }
  .highlights_img img {
    height: 70px;
  }
}




.highlight_img1 {
  background-color: rgba(110, 203, 152, 0.77);
}
.highlight_text1 {
  background-color: #6ecb98;
}
.highlight_img2 {
  background-color: rgba(254, 155, 120, 0.77);
}
.highlight_text2 {
  background-color: #fe9b78;
}
.highlight_img3 {
  background-color: rgba(103, 178, 232, 0.77);
}
.highlight_text3 {
  background-color: #67b2e8;
}
.highlight-tex-wrapper {
  position: absolute;
  transform: translateY(50%);
  bottom: 50%;
}
.hero-cta-register {
  white-space: nowrap;
  width: fit-content;
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .hero-imgv2 img {
    height: 308px;
  }
}

@media screen and (min-width: 1600px) and (max-width: 3000px) {
  .hero-imgv2 img {
    height: 265px;
  }
}
