.questionlist-container {
  border-radius: 10px;
  border: solid #e2ecfc 1px;
  width: 25%;
}
.questionlist-item-container {
  border-bottom: solid #e2ecfc 1px;
  padding: 20px 35px;
  background-color: #fff;
  cursor: pointer;
}
.green-check {
  color: #56ce66;
  font-size: 28px;
}
.questionlist-item-right {
  display: inline-block;
}
.questionlist-ques-number {
  color: #505050;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  padding-bottom: 20px;
  letter-spacing: 0.5px;
}
.questionlist-ques-difficulty {
  color: #67b2e8;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.5px;
}
.questionlist-item-left {
  float: right;
  display: flex;
}
.questionlist-item-active {
  background-color: #f2f7fe;
}

.question-list-container::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
.question-list-container ::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 4px;
}
