.questionlist-container {
  border-radius: 10px;
  border: solid #e2ecfc 1.5px;
  width: 20%;
  height: 500px;
  overflow-y: scroll;
}
.questionlist-item-container {
  border-bottom: solid #e2ecfc 1px;
  padding: 10px 20px;
  background-color: #fff;
  cursor: pointer;
}
.green-check {
  color: #56ce66;
  font-size: 24px;
  vertical-align: middle;
  padding-right: 5px;

}

.red-cross {
  color: #f44336;
  font-size: 24px;
  vertical-align: middle;
  padding-right: 5px;
}
.grey-dash {
  color: #b3b3b3;
  padding-top: 10px;
}

.questionlist-item-right {
  display: inline-block;
}
.questionlist-ques-number {
  color: #505050;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.5px;
}
.questionlist-ques-difficulty {
  color: #67b2e8;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.5px;
}
.questionlist-item-left {
  float: right;
  display: flex;
}
.questionlist-item-active {
  background-color: #f2f7fe;
}

.questionlist-container::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
.questionlist-container::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 8px;
}
