.report-problem-container {
  padding: 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #7e8794;
  background: #f8fafc;
}
.report-problem-header {
  font-size: 24px;
  line-height: 36px;
  color: #3e4851;
  margin-bottom: 8px;
}
.report-problem-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  background: #2f80ed;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #f6faff;
  padding: 12px 0px;
  cursor: pointer;
}

.report-problem-textarea {
  background-color: white;
  margin-bottom: 24px;
  border: 1px solid #E2EBF5;
  box-sizing: border-box;
  box-shadow: 0px 16px 32px rgba(221, 230, 237, 0.4);
  border-radius: 4px;   
  height: 88px;
}
.report-problem-textarea textarea {
  width: 100% !important;
  border: none;
  border-radius: 4px;
  height: 88px;
}
.report-problem-subheader {
  color: #3e4851;
}
.report-problem-content {
  padding-bottom: 32px;
  width: 100%;
}
.report-problem-content label {
  width: 100% !important;
  margin-bottom: 12px;
}
.radio-button {
  cursor: pointer;
  padding-right: 11px;
  display: block;
}
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.radio-button__input {
  opacity: 0;
  position: absolute;
}

.radio-button__control {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 12px;
  vertical-align: middle;
  background-color: inherit;
  color: #2f80ed;
  border: 2px solid #666;
  border-radius: 24px;
}

.radio-button__input:checked + .radio-button__control:after {
  content: "";
  display: block;
  position: absolute;
  top: 3.5px;
  left: 3.5px;
  width: 7px;
  height: 7px;
  background-color: #2f80ed;
  border-radius: 12px;
}

.radio-button__input:checked + .radio-button__control {
  border-color: #2f80ed;
}

.radio-button__control {
  transform: scale(0.75);
}
