.subjects-container {
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #99a1a8;
  cursor: pointer !important;
}
.subjects-container:hover {
  color: #102335;
}
.subject-selected {
  color: #102335 !important;
}