.quiz-header {
  padding: 15px 60px;
  background-color: #204a7d;
}
.quiz-container {
  display: flex;
  padding: 25px;
}
.quiz-header-image{
  display: inline-block;
  width:24px;
  height: auto;
}
.quiz-header-title {
  display: inline-block;
  line-height: 30px;
  vertical-align: top;
  padding-left: 15px;
  color: #ffffff;
  font-weight: 500;
  font-size: 26px;
}
.quiz-header-number{
  padding-left: 0px;
  float: right;
}
.quiz-header-back-button{
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
  vertical-align: top;
  padding-right: 20px;
  padding-top: 4px;
  display: inline-block;
}
