.action-container{
    display: flex;
    padding-bottom: 40px;
}
.exam-action{
    padding:20px 45px;
    margin-right: 70px;
    background-color: white;
    border-radius: 16px;
    cursor: pointer;
}
.exam-action-img{
    width:30px;
    padding-bottom: 15px;
}
.exam-action-text{
    text-align: center;
   font-weight :400;
   font-size:36px;
   line-height:40px;
   color:#122E51;
   padding-bottom: 20px;
}
.exam-details-heading{
    font-weight :400;
    font-size:32px;
    line-height:36px;
    color:black;
    padding-bottom: 10px;
}
.exam-details-text{
    font-weight :300;
    font-size:18px;
    line-height:25px;
    color:black;
    padding-bottom: 15px;
    letter-spacing: 1px;;
}
.details-ul{
    padding-left: 20px;
    margin: 0px;
}
.exam-details-table-container{
    width:100%;
    border-radius:4px;
}
.exam-details-table-header{
    background-color: #67B2E8;
    margin: 0 auto;
    text-align: center;
    color:#fff;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 500;
}