@media screen and (min-width: 320px) {
  .header-section-exam-details {
    background-color: #f1f5f8;
    margin: -16px -12px 0 -12px;
    padding: 16px 0;
  }
  .past-paper-container {
    background-color: #f9fafa;
    padding-bottom: 10px;
  }
  .action-parent-container {
    text-align: center;
  }
  .action-container {
    display: inline-flex;
    padding-bottom: 40px;
  }
  .exam-action {
    padding: 20px 45px;
    margin-right: 70px;
    background-color: white;
    border-radius: 16px;
    cursor: pointer;
  }
  .exam-action-img {
    width: 30px;
    padding-bottom: 15px;
  }
  .exam-action-text {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #122e51;
    padding-bottom: 20px;
  }
  .exam-details-heading {
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #606060;
    background-color: #ffffff;
  }
  .exam-details-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 12px;
    letter-spacing: 0.1px;
    color: #606060;
    margin: 0;
  }

  .exam-detail-download:hover {
    color: blue;
    text-decoration: underline;
  }

  .heading-exam-details {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #646464;
    padding-bottom: 4px;
    border-bottom: 1px solid #d9e4ec;
  }

  .in-page-nav-item {
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #2f80ed;
    text-transform: capitalize;
    padding: 12px 12px 0 0;
  }

  .in-nav-bullet {
    width: 4px;
    height: 4px;
    line-height: 18px;
    background: #bec9d1;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
  }

  .in-nav-bullet:last-child {
    display: none;
  }
  .exam-details-content {
    padding-top: 16px;
  }

  .exam-details-download-container {
    margin: 10px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(221, 230, 237, 0.4);
    border-radius: 4px;
    padding: 12px 10px;
  }
  .details-ul {
    padding-left: 20px;
    margin: 0;
  }

  .exam-table1-wrapper {
    display: inline-block;
    width: 300px;
    margin-right: 24px;
  }
  .exam-details-table1-container {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
    table-layout: fixed;
  }
  .exam-details-table1-header {
    background-color: #4fa5d6;
    margin: 0 auto;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #ffffff;
  }
  .exam-details-table2-header {
    background-color: #2d3646;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #ffffff;
    padding: 24px 16px;
    text-align: left;
  }
  .exam-details-table3-header {
    background-color: #2d3646;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #ffffff;
    padding: 16px 8px;
    text-align: left;
  }
  .exam-details-table1-content:last-child {
    border-right: none;
  }
  .exam-details-table1-subcontent {
    padding: 12px 0px;
    border-top: none;
    border-right: 1px solid #4fa5d6;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #606060;
    font-weight: 600;
  }
  .pdf-icon {
    display: inline-block;
    margin-right: 8px;
  }
  .paper-item-text {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #828282;
  }
  .examlist-wrapper {
    display: inline;
  }
  .exam-page-header {
    background: linear-gradient(37.81deg, #db2b68 0%, #e65946 100%);
    box-shadow: 0px 4px 8px rgba(11, 35, 81, 0.1);
  }
  .exam-table2-wrapper {
    width: 300px;
    margin-top: 24px;
  }
  .exam-details-table2-container {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    table-layout: fixed;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
  }
  .exam-details-table3-container {
    table-layout: auto !important;
  }
  .exam-details-table2-subcontent {
    padding: 20px 24px;
    color: #606060;
  }
  .exam-details-table3-subcontent {
    padding: 20px 6px;
    color: #606060;
  }
  .paper-download-text {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .exam-details-content {
    padding-top: 0px;
  }
  .header-section-exam-details {
    display: none;
  }
  .exam-details-table2-subcontent {
    padding: 20px 16px;
  }
  .exam-details-table2-header {
    padding: 24px 32px;
  }
  .exam-details-table3-header {
    padding: 24px 10px;
  }
  .exam-details-heading {
    font-size: 16px;
    line-height: 24px;
  }
  .exam-details-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
  }
  .exam-table2-wrapper {
    width: 450px;
  }
  .exam-details-download-container {
    margin: 10px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(221, 230, 237, 0.4);
    border-radius: 4px;
    padding: 20px 16px;
  }
  .pdf-icon {
    margin-right: 20px;
  }
  .paper-item-text {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.1px;
  }
  .paper-download-text {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.1px;
    color: #2f80ed;
  }
}
@media screen and (min-width: 992px) {
  .li-type2 {
    display: inline-block;
    width: 48%;
  }
  .exam-table2-wrapper {
    width: 560px;
  }
}

/* top-left border-radius */
.exam-details-table1-container tr:first-child th:first-child,
.exam-details-table2-container tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
.exam-details-table1-container tr:first-child th:last-child,
.exam-details-table2-container tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
.exam-details-table1-container tr:last-child td:first-child,
.exam-details-table2-container tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
.exam-details-table1-container tr:last-child td:last-child,
.exam-details-table2-container tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.exam-details-table1-container tr th,
.exam-details-table1-container tr td {
  border-right: 1px solid #4fa5d6;
  border-bottom: 1px solid #4fa5d6;
  padding: 5px;
}
.exam-details-table1-container tr th:first-child,
.exam-details-table1-container tr td:first-child {
  border-left: 1px solid #4fa5d6;
}
.odd {
  background-color: #f9fafa;
}
.even {
  background-color: #fffffd;
}
.past-paper-left,
.past-paper-right,
.paper-item-text {
  display: inline-block;
}

.past-paper-right {
  float: right;
}
.paper-download-text,
.paper-item-text {
  vertical-align: top;
}

.goto-img-floater {
  margin-right: 12px;
}
.goto-top-floater-cont {
  display: relative;
}
.goto-top-floater-wrapper {
  position: fixed;
  z-index: 1;
  bottom: 100px;
  right: 0;
  background-color: #ecf0f9;
  padding: 8px 20px 8px 8px;
  /* height: 50px; */
  border-radius: 50px 0px 0px 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: #122e51;
}
.exam-details-table3-container {
  border-collapse: separate;
}
.exam-details-table3-container td ,.exam-details-table3-container th{
  border: 0.5px solid #D3D3D3;
}
.exam-details-table3-container tr:first-child td {
  border-top: 0;
}
.exam-details-table3-container tr td:first-child {
  border-left: 1px solid #D3D3D3;
}
.exam-details-table3-container tr:last-child td {
  border-bottom: 1px solid #D3D3D3;
}
.exam-details-table3-container tr td:last-child {
  border-right: 1px solid #D3D3D3;;
}

/* .exam-details-table3-container tr td:first-child {
    border-bottom-left-radius: 4px;
} */
