@media screen and (min-width: 320px) {
    .tnc-heading {      
      padding-bottom:20px;
    }
    .tnc-content{
        text-align: left;
        font-size: 14px;
        font-weight: 300;
        line-height: 28px;
    }
  }
  @media screen and (min-width: 768px) {
    .tnc-heading {
        padding-bottom: 35px;
    }
    .tnc-content{
        font-size: 18px;
        line-height: 38px;
    }
    
  }
  @media screen and (min-width: 992px) {
    .tnc-heading {
        padding-bottom: 70px ;
    }
    .tnc-content{
        font-size: 22px;
        line-height: 48px;
    }
}
    
