.pricing-container {
  padding: 70px;
  font-weight: 300;
}
.pricing-header {
  color: #122e51;
  font-size: 30px;
}
.pricing-sub-heading {
  color: #122e51;
  font-size: 22px;
  padding: 30px 0px 30px 0px;
}
.pricing-ul{
    margin: 0px 30px;
}
.pricing-text {
  color: #505050;
  font-size: 18px;
  padding-right: 25%;
  text-align: justify;
  line-height: 30px
}
.price-prefix-select{
    font-size: 20px;
    line-height: 38px;
    margin-right: 5px;
}
.pricing-text-bold {
  font-weight: 600;
}
.pricing-selection-container {
  padding: 20px;
  border: solid #e2ecfc 2px;
  font-size: 28px;
  font-weight: 300;
  border-radius: 10px;
  margin-top: 30px;
  padding-right: 70px;
  
}
.pack-duration-drpdwn{
    margin-right: 30px;
}

.pric-dropbtn {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: black !important;
  cursor: pointer;
}


.pricdropbtn {
  padding: 20px;
}
.pricing-dropdown {
  display: inline-block;
  padding-bottom: 10px;
}


.pricing-dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  border: solid #e2ecfc 1px;
  z-index: 1;
  font-size: 17px;
  font-weight: 300;  
  border-radius: 10px;
  margin-left: -20px;
}
.pricing-exanname-container{
    color:#204A7D ;
}
.pricing-drp-dwn-item{
    display: flex;
    padding:20px;
    border-bottom:solid #e2ecfc 1px;
    cursor: pointer;
}
.pricing-drp-dwn-item:hover {
  background-color: #e2ecfc;
}

.pricing-dropdown-container {
  float: right;
  display: flex;
}
.pricing-exanname-container {
  display: inline-block;
}
.pricing-dropdown:hover .pricing-dropdown-content{
    display: block !important;

}
