@media screen and (min-width: 320px) {
  .logo-header {
    background-color: #122e51;
    padding: 30px 90px 0px 90px;
  }
  .header-menu {
    padding-top: 10px;
  }
  .headerbutton-wrapper {
    float: right;
    display: flex;
  }
  .headerlogo-wrapper {
    display: inline-block;
  }
  .img-logo {
    width: 200px;
    height: auto;
  }
  .header-login {
    background-color: #67b2e8;
    color: #ffffff;
  }
  .header-login:hover{
    background-color: #518bb5;
  }
  .header-practice {
    background-color: #e86767;
    color: white;
    margin-right: 45px;
  }

  .header-practice:hover {
    background-color: #c15757;
  }

  .header-cta {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 15px;
    letter-spacing: 1.5px;
    text-align: center;
    border-radius: 37px;
    width: 150px;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}

.header-ul {
  padding: 0;
  margin: 0;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

li a:hover,
.header-dropdown:hover .dropbtn {
  background-color: #c0e5ff;
}
.header-dropdown:hover .dropbtn {
  color: #122e51;
}
.dropbtn {
  padding: 10px;
}
li.header-dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 300px;
}

.dropdown-content a {
  color: #2598ec;
  padding: 15px 25px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown-arrow {
  display: block;
}
.dropup-arrow {
  display: none;
}
.header-dropdown:hover .dropdown-content,
.header-dropdown:hover .dropup-arrow {
  display: block !important;
}
.header-dropdown:hover .dropdown-arrow {
  display: none;
}

.header-usee-detail {
  font-size: 30px;
  color: #ffffff;
  line-height: 65px;
}

.dropbtn img {
  width: 12px;
  height: 8px;
  padding: 5px;
  float: right;
}
