@media all and (min-width: 480px) {
  .login-admin {
    padding: 60px 0;
  }

  .login-admin form {
    margin: 0 auto;
    max-width: 320px;
  }
}
.admin-table {
  border: solid 1px blue;
  text-align: left;
  border-collapse: collapse;
}
.admin-breadcrum {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  background: #e5e5e5;
  width: fit-content;
  margin-bottom: 10px;
  border-bottom: solid 1px blue;
}
.admin-brdcrm-spac {
  text-decoration: none !important;
  font-weight: 300;
}
.question-preview {
  border: solid 1px gray;
  min-height: 40px;
  width: 70%;
  display: inline-block;
}
.ad-question-right {
  float: right;
  display: inline-block;
  margin-bottom: 10px;
}
.add-question-container{
  padding: 40px;
}
.ad-question-left {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}
.admin-header {
  padding: 40px 10px 0px 20px;
  background-color: gray;
  color: white;
}
.add-question-container label {
  width: 150px;
}
.add-question-container textarea {
  width: 70%;
}
.admin-table td,
.admin-table th {
  border: solid 1px blue;
}
.admin-page {
  margin: 0 auto;
  width: 500px;
  padding-top: 60px;
}
.user-page {
  width: 900px;
}
.user-page-search {
  text-align: right;
  padding-bottom: 20px;
}
.user-page-search .search-button {
  width: auto;
  margin-left: 10px;
}
.user-page button {
  width: 100%;
}
label {
  width: 120px;
  display: inline-block;
}
td,
th {
  padding: 8px;
  text-align: center;
}
.admin-error {
  color: red;
  padding-top: 10px;
}
