.examhome-container{
    display:flex;
    background-color:#FAFAFA;
    overflow: hidden;
}
.exam-titlelist-Container{
    float: left;
    background-color:#F1F5F8;
}
.exam-details-Container{
    float: right;
    padding-left:40px;
    width:95%;
}


@media screen and (min-width: 320px) {
    .exam-static-header{
        padding-bottom: 16px;
        text-transform: none !important;
        padding-left: 0px !important;
    }
    .exam-details-Container{
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .exam-details-Container{
        display: none;
    }
    .exam-static-header{
        padding-bottom: 24px;
        text-transform: none !important;
    }
}
@media screen and (min-width: 992px) {}
