@media screen and (min-width: 320px) {
  .register-container{
    width:95vw;
  }
}
@media screen and (min-width: 768px) {
  .register-container{
    width:480px;
  }
}
.name-container{
  display: inline-block;
  width: 47%;
}
.last-name-container{
 float: right;
}
.signup-footer {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 20px;
  padding-bottom: 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.notify-container{
  padding:20px 40px;
}
