.signup-footer {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}