.upgrade-container {
  padding: 50px;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
}
.upgrade-points-container {
  padding: 40px 0px;
  display: flow-root;
}
.upgrade-points {
  font-size: 18px;
  text-align: left;
  float: left;
  display: flex;
}
.upgrade-img {
  width: 40px;
  float:left;
  height: 40px;
}
.upgrade-txt{
  float:left;
}
.upgrade-heading {
  text-align: center;
}
.upgrade-button{
    text-align: center;
}
.upgrade-Highlight{
    font-weight: 500;
}
