@media screen and (min-width: 768px) {
  .login-button:hover {
    background-color: #518bb5;
  }
}
input:focus {
  outline: none;
}
.login-container {
  padding: 32px;
  background: #f8fafc;
  box-shadow: 0px 16px 32px rgba(221, 230, 237, 0.4);
  border-radius: 8px;
}
.login-input-header {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #a6afbc;
  margin-bottom: 4px;
}
.login-input-container{
  text-align: left;
}
.login-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #122e51;
  padding-bottom: 24px;
  text-align: center;
}
.login-button {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 15px 25px;
  color: white;
  background-color: #67b2e8;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  border: none;
  letter-spacing: 1px;
}

.login-signUp {
  font-weight: 400;
  color: #60b1ff;
  cursor: pointer;
}
.login-footer {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  padding-top: 25px;
}
.login-forgotpswd {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 25px;
  color: #60b1ff;
  cursor: pointer;
}
.login-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  background: #FFFFFF;
  border: 1px solid #E2EBF5;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #6D7887;
}
.error {
  border-color: red;
  color: red;
}

.login-input ::placeholder {
  color: #929699;
  opacity: 1; /* Firefox */
}

.login-input :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #929699;
}

.login-input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #929699;
}

.error ::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

.error :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

.error ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}
