.mob-hdr-container{
    background-color: #122E51;
    padding:16px;
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}
.mob-hdr-menuIcon{
    font-size: 22px;
    line-height: 24px;
    color: #fff;
}
.mob-hdr-logo{
    margin: 0 auto;
    height: 24px;
}
.side-panel  {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #122E51;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 20px;
    color: white;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: .75px;
  }

  .side-panel-show{
      width:100%;
  }
  .mbl-hdr-menu-item{
      padding:15px 60px;
      border-bottom: solid #686868 .5px;
  }
  .mbl-hdr-back-arrow{
    padding:10px 30px 0px;

  }
  .last-item{
    border-bottom: none;
  }
  .mbl-hdr-sub-item{
    padding:10px 70px;
    font-size: 15px;
  }
  .mbl-hdr-menu-item-arrow{
      float:right;
      font-size: 22px;
  }

  .mbl-hdr-user-name{
    background-color: #60b1ff;
    width: 35px;
    height: 35px;
    font-size: 15px;
    line-height: 35px;
    border-radius: 50%;
    color: #fff;
    float: right;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
  }