@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), local("Montserrat"),
    /* Modern Browsers */ url("./assets/fonts/Montserrat/Montserrat-Medium.ttf")
      format("truetype");
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  font-family: "Montserrat";
}
img {
  display: block;
}
.logo-header img {
  margin: 0 auto;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 320px) {
  .logo-header {
    background-color: #122e51;
    padding: 25px 0;
  }
  .hero {
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    display: flow-root;
  }
  .hero-text-wrapper {
    padding: 20px;
  }
  .hero-img {
    padding: 20px;
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
  .hero-img img {
    width: 100%;
    height: auto;
  }
  .hero-header {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    color: #122e51;
    padding-bottom: 26px;
  }
  .hero-body-txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #122e51;
    padding-bottom: 23px;
  }
  .hero-discount-txt {
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    color: #e86767;
    padding-bottom: 43px;
  }
  .cta{
    text-align: center;
  }
  .hero-cta {
    padding: 13px 23px;
    background-color: #e86767;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    display: inline-flex;
  }
  .illustrations {
    background-color: #fcfcfc;
    display: flex;
    padding: 213px 117px 142px 122px;
  }
  .highlights-container {
    color: #000000;
    background-color: #ffffff;
    display: block;
    text-align: left;
    font-weight: 300;
    padding: 20px;
    font-size: 16px;
    line-height: 27px;
  }
  .highlights-sub-contatiner {
    width: 100%;
  }
  .highlight-item {
    margin-bottom: 8px;
    display: flex;
  }
  .highlight-item-text {
    margin-left: 10px;
  }
  .prepping-container {
    background-color: #6ecb98;
    display: block;
    text-align: left;
    padding: 20px;
  }
  .prepping-date {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #ffffff;
    padding-bottom: 15px;
  }
  .prepping-start {
    font-weight: 600;
    color: #a4ff55;
    font-size: 28px;
    line-height: 29px;
    padding-bottom: 35px;
  }
  .nopayment-container {
    color: #fff;
    background-color: #67b2e8;
  }
  .nopayment-container-info {
    text-align: left;
    padding: 20px;
  }
  .nopayment-container-join {
    padding: 20px;
    white-space: nowrap;
  }
  .nopayment-heading,
  .query-heading {
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    padding-bottom: 12px;
  }
  .nopayment-text,
  .query-mail,
  .query-text {
    font-size: 16px;
    line-height: 39px;
  }
  .nopayment-text,
  .query-text {
    font-weight: 300;
  }
  .query-container {
    background-color: #fff;
    padding: 20px;
    text-align: left;
  }
  .query-mail {
    font-weight: 500;
    color: #67b2e8;
  }
  .illustrations {
    padding: 20px;
    display: flex;
  }
  .illustration-content {
    padding-right: 0;
    text-align: center;
    padding-bottom: 30px;
  }
  .illustration-image {
    height: 230px;
    text-align: center;
  }
  .illustration-image img {
    vertical-align: middle;
    display: initial;
    text-align: center;
  }
  .illustration-text {
    text-align: left;
    padding-top: 20px;
  }
  .illustration-header {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #e86767;
  }
  .illustration-body {
    padding-top: 22px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }
  .footer-container {
    background-color: #00223a;
    color: #60b1ff;
    display: flow-root;
    padding: 20px;
  }
  .footer-container-right,
  .footer-container-left {
    font-size: 12px;
    line-height: 23px;
    font-weight: 300;
    display: inline-block;
    white-space: nowrap;
    text-align: left;
  }
  .footer-container-left {
    padding-bottom: 14px;
    float: left;
  }
  .footer-container-right {
    float: right;
  }
  .footer-text {
    padding-bottom: 8px;
  }
  .footer-contact {
    padding-bottom: 10px;
  }
  .footer-address {
    font-size: 11px;
  }
  .bullet {
    width: 24px;
    height: auto;
  }
  .footer-icons{
    padding-top: 20px;
  }
  .footer-icons img{
    width:auto;
    height:30px;
    display: inline-block;
  }
  .facebook{
    padding-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .logo-header {
    padding: 35px 0;
  }
  .hero-text-wrapper {
    padding: 40px;
  }
  .hero-img {
    width: 60%;
  }
  .hero-header {
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    padding-bottom: 33px;
  }
  .hero-body-txt {
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 23px;
  }
  .hero-discount-txt {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 53px;
  }
  .hero-cta {
    padding: 20px 33px;
    font-size: 25px;
    line-height: 30px;
  }
  .illustrations {
    padding: 40px;
  }
  .highlights-container {
    font-size: 18px;
    line-height: 37px;
    display: flex;
    padding: 40px;
  }
  .highlights-sub-contatiner {
    width: 50%;
  }
  .highlight-item {
    margin-bottom: 20px;
  }
  .highlight-item-text {
    margin-left: 15px;
  }
  .prepping-container {
    padding: 40px;
  }
  .prepping-date {
    font-size: 22px;
    line-height: 39px;
    padding-bottom: 30px;
  }
  .prepping-start {
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 50px;
  }
  .nopayment-container {
    display: flex;
  }
  .nopayment-container-info {
    text-align: left;
    padding: 40px;
  }
  .nopayment-container-join {
    padding: 89px 40px;
  }
  .nopayment-text,
  .query-text,
  .query-mail {
    font-size: 20px;
    line-height: 49px;
  }
  .nopayment-heading,
  .query-heading {
    font-size: 28px;
    line-height: 39px;
    padding-bottom: 22px;
  }
  .query-container {
    padding: 40px;
  }
  .footer-container {
    padding: 40px;
  }
  .footer-container-right,
  .footer-container-left {
    font-size: 18px;
    line-height: 33px;
  }
  .footer-container-left {
    padding-bottom: 35px;
  }
  .footer-text {
    padding-bottom: 16px;
  }
  .footer-contact {
    padding-bottom: 10px;
  }
  .footer-address {
    font-size: 15px;
  }
  .bullet {
    width: 41px;
    height: auto;
  }
  .footer-icons{
    padding-top: 35px;
  }
  .footer-icons img{
    width:auto;
    height:40px;
  }
  .facebook{
    padding-right: 40px;
  }
}
@media screen and (min-width: 992px) {
  .logo-header {
    padding: 55px 0;
  }
  .hero {
    margin: 0 auto;
    padding: 67px 80px 96px 91px;
    background-color: #ffffff;
  }
  .hero-text-wrapper {
    float: left;
    width: 45%;
    padding: 0 20px;
  }
  .hero-header {
    font-weight: 700;
    font-size: 60px;
    line-height: 93px;
    padding-bottom: 43px;
  }
  .hero-body-txt {
    font-weight: 400;
    font-size: 26px;
    line-height: 49px;
    padding-bottom: 23px;
  }
  .hero-discount-txt {
    font-weight: 400;
    font-size: 34px;
    line-height: 49px;
    padding-bottom: 83px;
  }
  .cta{
    text-align: inherit;
  }
  .hero-cta {
    padding: 26px 45px;
    font-size: 30px;
    line-height: 34px;
  }
  .hero-img {
    float: right;
    width: 45%;
    padding: 30px 0 0;
  }
  .highlight-item-text {
    margin-left: 25px;
  }
  .highlights-container {
    padding: 128px 98px 88px 149px;
    font-size: 28px;
    line-height: 47px;
    display: flex;
  }
  .highlights-sub-contatiner {
    width: 50%;
  }
  .highlight-item {
    margin-bottom: 34px;
  }
  .prepping-container {
    padding: 88px 208px 88px 134px;
  }
  .prepping-date {
    font-size: 36px;
    line-height: 49px;
    padding-bottom: 40px;
  }
  .prepping-start {
    font-size: 44px;
    line-height: 49px;
    padding-bottom: 96px;
  }
  .illustrations {
    padding: 213px 117px 142px 122px;
  }
  .illustrations-wrapper {
    display: flex;
    margin: 0 auto;
  }
  .illustration-content {
    width: 33.33%;
    padding-right: 137px;
    padding-bottom: 0px;
  }
  .illustration-content:last-child {
    padding-right: 0;
  }
  .illustration-image {
    height: 230px;
    text-align: center;
  }
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .illustration-text {
    padding-top: 62px;
  }
  .illustration-header {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }
  .illustration-body {
    padding-top: 22px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  .nopayment-container {
    display: flex;
  }
  .nopayment-container-info {
    text-align: left;
    padding: 108px 20px 63px 141px;
  }
  .nopayment-container-join {
    padding: 204px 134px 197px 20px;
  }
  .nopayment-heading,
  .query-heading {
    font-size: 38px;
    line-height: 49px;
    padding-bottom: 35px;
  }
  .nopayment-text,
  .query-text,
  .query-mail {
    font-size: 30px;
    line-height: 59px;
  }
  .query-container {
    padding: 102px 132px 145px 132px;
  }
  .footer-container {
    padding: 88px 150px 88px 150px;
  }
  .footer-container-right,
  .footer-container-left {
    font-size: 27px;
    line-height: 43px;
  }
  .footer-container-left {
    padding-bottom: 72px;
  }
  .footer-text {
    padding-bottom: 24px;
  }
  .footer-contact {
    padding-bottom: 10px;
  }
  .footer-address {
    font-size: 24px;
  }
  .footer-icons{
    padding-top: 44px;
  }
  .footer-icons img{
    width:auto;
    height:60px;
  }
  .facebook{
    padding-right: 44px;
  }
}
