.practice-chapter-subcontainer {
  border-bottom: solid #e1e1e1 1px;
  padding: 30px 30px 30px 20px;
  cursor: pointer;
}

.practice-chapter-text-container {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1px;
  color: #000000;
  line-height: 28px;
  display: inline-flex;
  padding-bottom: 15px;
}
.practice-chapter-button {
  background-color: rgba(105, 130, 163, 0.2);
  font-weight: 600;
  font-size: 20px;
  color: #6982A3;
  line-height: 27px;
  border-radius: 30px;
  padding: 14px 26px;
  text-transform: uppercase;
}
.learning{
  background-color: rgba(119, 125, 129, 0.2);
  color: #777D81;
}
.passing{
  background-color: rgba(151, 109, 26, 0.2);
  color: #976D1A;
}
.proficient{
  background-color: rgba(70, 143, 44, 0.2);
  color: #468F2C;
}
.mastery{
  background-color: rgba(63, 126, 81, 0.2);
  color: #3F7E51;
}
.practice-chapter-button:hover {
  background-color: #cfd9e6;
}

.practice-chapter-question {
  padding-left: 55px;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  color: #9e9e9e;
  line-height: 26px;
}

.practice-lock-img {
  margin-right: 20px;
}
.practice-chapter-subcontainer:hover {
  background-color: #f6faff;
}
.practice-right-block {
  display: inline-block;
}
.practice-chapter-button-container {
  display: flex;
  float: right;
}
